<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.piratemedia.lifi" >

    <uses-permission android:name="tv.piratemedia.lightcontroler.api"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".Prefs" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="tv.piratemedia.lightcontroller.plugin" />
            </intent-filter>
        </activity>
        <activity android:name=".Install" android:theme="@style/InstallTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateRule" android:theme="@style/CreateTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity-alias android:label="@string/app_name"
            android:name=".MainActivity"
            android:enabled="true"
            android:targetActivity=".Prefs">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <receiver android:name=".WifiReceiver" >
            <intent-filter android:priority="100">
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
